<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_amazon'>
			<group
				id='payments'
				translate='label'
				type='text'
				sortOrder='3'
				showInDefault='1'
				showInWebsite='1'
				showInStore='1'
			>
				<dfExtension>Dfe_AmazonPayments</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<label>Payments</label>
				<field
					id='enable'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
					sortOrder='1'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/amazon-payments' target='_blank'>Amazon Payments</a>» extension?]]></comment>
				</field>
				<field
					id='webhook'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
					dfWebhook_requireHTTPS='true'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Notifications URL</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/1717' target='_blank'>How to setup the Instant Notifications? </a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>